.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;
}

@media (max-width: 850px) {
    .wrapper {
        padding-left: 25px;
        padding-right: 25px;
    }
}

section.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;

    hr.divider {
        display: none;
        width: 100%;
    }

    @media (max-width: 850px) {
        hr.divider {
            display: block;
            margin: 20px 0;
            border: 0.5px solid hsl(232, 17%, 26%);
        }
    }

    .header--main {
        display: block;

        h1 {
            color: $white;
            font-size: $font-med;
            padding-bottom: 5px;
        }

        p {
            color: $textMainDark;
            font-size: $font-small;
            font-weight: $bold;
        }
    }
}

.header--main h1.light-theme {
    color: $textSecondaryLight !important;
}

@media (max-width: 850px) {
    section.header .header--main h1 {
        font-size: 1.5rem;
    }
}

.header--toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;

    h3 {
        font-size: $font-small;
        color: $textMainDark;
        margin-right: 13px;
    }

    &:hover {
        color: $white;
        cursor: pointer;
    }
}

@media (max-width: 850px) {
    .header--toggle {
        width: 100%;
        justify-content: space-between;
    }
}

.toggle--theme {
    position: relative;
    width: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.toggle--theme-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.toggle--theme-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

.toggle--theme-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.toggle--theme-inner:before,
.toggle--theme-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 25px;
    padding: 0;
    line-height: 25px;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
}

.toggle--theme-inner:before {
    content: "";
    padding-left: 10px;
    background-color: $lightToggle;
    color: #FFFFFF;
}

.toggle--theme-inner:after {
    content: "";
    padding-right: 10px;
    background: $darkToggle;
    text-align: right;
}

.toggle--theme-switch {
    display: block;
    width: 20px;
    margin: 2.5px;
    background: $topBackgroundDark;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25px;
    border-radius: 50%;
    transition: all 0.3s ease-in 0s;

    &:hover {
        opacity: 0.8;
    }
}

.toggle--theme-checkbox:checked+.toggle--theme-label .toggle--theme-inner {
    margin-left: 0;
}

.toggle--theme-checkbox:checked+.toggle--theme-label .toggle--theme-switch {
    right: 0px;
}

section.followers {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    .card {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: $font-xsmall;
        background-color: $cardBackgroundDark;
        border-radius: 5px;
        padding: 25px;
        overflow: hidden;

        &:hover {
            background-color: hsl(228, 27%, 27%);
            cursor: pointer;
        }

        &.facebook {
            border-top: solid 3px $facebook;
        }

        &.twitter {
            border-top: solid 3px $twitter;
        }

        &.instagram::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            top: 0;
            left: 0;
            background-image: $instagram;
        }

        &.youtube {
            border-top: solid 3px $youtube;
        }
    }
}

.card--info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img.card--icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    h2.card--username {
        color: $textMainDark;
        font-weight: $bold;
        font-size: $font-xsmall;
        line-height: 1;
    }
}

.card--count {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;

    .count--number {
        color: $textSecondaryDark;
        font-size: $font-xlarge;
        font-weight: $bold;
        line-height: 1;
        padding-bottom: 10px;
    }

    .count--text {
        color: $textMainDark;
        font-size: $font-small;
        text-transform: uppercase;
        letter-spacing: 0.3em;
    }
}

.card--change {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img.change--icon {
        width: 8px;
        height: 5px;
        margin-right: 3px;
    }

    .change--amount {
        font-size: $font-xsmall;
        font-weight: $bold;
        letter-spacing: 0.02em;

        &.up {
            color: $limeGreen;
        }

        &.down {
            color: $brightRed;
        }
    }
}

h2.overview--heading {
    color: $white;
}

section.overview {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.overview--card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $cardBackgroundDark;
    color: #fff;
    border-radius: 5px;
    padding: 25px 30px;

    &:hover {
        background-color: hsl(228, 27%, 27%);
        cursor: pointer;
    }
}

.overview--card-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;

    h3.card--title {
        font-size: $font-small;
        color: $textMainDark;
    }
}

.overview--card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2.overview--count {
        font-size: $font-med;
        color: $white;
    }

    img.change--icon {
        width: 8px;
        height: 5px;
        margin-bottom: 2px;
    }

    .overview--change {
        font-size: .75rem;
        font-weight: $bold;

        &.up {
            color: $limeGreen;
        }

        &.down {
            color: $brightRed;
        }
    }
}