html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 1;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    height: 100vh;
    background: linear-gradient(180deg, $topBackgroundDark 25%, $backgroundDark 0%);
}

p {
    line-height: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

//FrontendMentors.com
.attribution {
    font-size: 11px;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}